
span#liveUpdateDescription {
  font-style: italic;
  text-align: right;
  display: block;
}

a#dataFrom {
  text-align: right;
  display: block;
}

.container > .container-fluid {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

ul#categories {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul#categories li {
  padding: 4px 8px;
  margin: 2px 4px;
  cursor: pointer;
  outline: #adf 1px solid;
}

.panel {
  margin-bottom: 0;
}

.panel-body .row {
  display: flex;
  align-items: center;
  height: 22px;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
}

.panel-body .row > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-body .row:hover {
  height: 40px;
  background-color: #ddd;
  border-radius: 20px;
  font-size: 18px;
}

#image {
  height: calc(100% - 4px);
  width: auto;
}
