

span#liveUpdateDescription {
	font-style: italic;
	text-align: right;
	display: block;
}

.container > .container-fluid {
	text-align: center;
}

/* Lié à iframe, donc width:90% */
.legend {
	width: 90%;
	margin-right: 4%;
	text-align: right;
	display: block;
}

iframe {
    width: 90%;
    height: 480px;
}
