
ul.posts { 
    margin: auto auto 1.4em;
    font-size: 1.1em;
    width: 90%;
}

ul.posts li {
    list-style: none;
    padding-bottom: 0.5em;
}

ul.posts li a {
    font-size: 1.2em;
}

a#rssLink {
	margin-right: 4%;
	text-align: right;
	display: block;
}
