
.grid-sizer, .grid-item, .grid-item--width2 {
	width: 100%;
}

.grid-item {
	margin-bottom: 2%;
}
.grid-item--width2 {
	float: right;
}

.gutter-sizer {
	width: 2%;
}

#showButton {
	margin-bottom: 0.5em;
}
#json {
	font-size: 0.75em;
	tab-size: 4;
	display: none;
}

div {
	margin: 0;
}

div > span {
	font-style: normal;
	margin-right: 1em;
	margin-left: 0em;
	display: inline-block;
}

h5 {
	font-style: italic;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.panel-body {
	padding: 0.4em;
	margin: 0;
}

.panel-title {
	font-style: italic;
	font-size: 1.3em;
	color: #000;
}

.basics > #name {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: -1.3em;
	padding-bottom: 0.4em;
	font-size: 1.4em;
	line-height: 1em;
	font-style: italic;
	display: block;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: lightgrey;
}

.basics > #name > #age {
	font-size: small;
	line-height: initial;
	vertical-align: initial;
}

.basics > #label {
	width: 100%;
	text-align: right;
	margin: 0;
	margin-bottom: 0.8em;
	padding: 0;
	padding-right: 1.2em;
	display: block;
	margin-top: -1.9em;
}

.basics > #email,
.basics > #phone,
.basics > #website {
	//display: list-item;
	margin: 0;
	padding: 0;
	margin-left: 1em;
	padding-bottom: 0.3em;
}
.basics > #summary {
	margin-left: 0.8em;
	padding-right: 1em;
}
#summary {
	text-align: justify;
}

#summary > li {
	margin-left: 1.2em;
	text-align: left;
}

#company, #institution {
	margin-right: 0;
	padding-top: 0.4em;
}
#company, #institution {
	width: 60%;
}
#institution, #area {
	margin-right: 0;
}
#area {
	float: right;
	padding-top: 0.4em;
}

#position, #studyType {
	font-style: italic;
	width: 66%;
	font-size: 1.2em;
	margin-right: 0;
}

#level {
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
}

#level {
	float: right;
	padding-top: 0.4em;
}


.skills > * > #name {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	margin-right: 0.5em;
	margin-left: 0.2em;
}

.dates {
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
	display: inline;
	float: right;
	padding-top: 0.6em;
}
#startDate, #endDate {
	margin: 0;
}

.location {
	font-style: normal;
	margin: 0;
	padding: 0;
	margin-right: 1em;
	padding-bottom: 0.3em;
	text-align: right;
}

.profiles {
	margin: 0;
	margin-top: 0.2em;
	padding: 0;
	text-align: center;
}
.profiles > div {
	display: inline;
}
.profiles *:not(i):not(a) {
	margin: 0;
	padding: 0;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

#address, #postalCode, #city, #countryCode, #region {
	margin-right: 0.2em;
}


.label {
	font-family: 'Helvetica', 'Sans-Serif';
	font-size: 0.9em;
	font-weight: initial;
	margin-left: 0.3em;
	margin-right: 0.3em;
	margin-top: 0.4em;
	padding: .3em .6em .3em;
	text-align: justify;
	display: inline-block;
}


.languages > div.panel-body   {
	width: 75%;
	margin-left: 2em;
	padding: 0em;
	padding-top: 0.3em;
}
.languages > div.panel-body > #language  {
	width: 33%;
	margin: 0;
}
.languages > div.panel-body > #fluency  {
	margin: 0;
}



@media only screen and (min-width: 768px) {
	.grid-sizer, .grid-item  { width: 49%; }
	.grid-item--width2 { width: 49%; }
	
}

@media only screen and (min-width: 1280px) {
	.container {
		width: 100%;
	}
	
}

@media print {

	.grid-sizer, .grid-item, .grid-item--width2 { width: 100%; }
	.grid-item { margin-bottom: 2%; }
	.grid-item--width2 { float: right; }
	.gutter-sizer { width: 2%; }
	.grid-item {
		position:relative !important;
		display:block !important;
		left:0 !important;
		top:auto !important;
		float:left;
	}
	.container {
		height:auto !important;
		width: 100%;
	}
}

