
@media only screen and (max-width: 768px) {
	.grid-sizer, .grid-item, .grid-item--width2 { width: 100%; }
}

.grid-item {
	margin-bottom: 2%;
}
.grid-item--width2 {
	float: right;
}

.gutter-sizer {
	width: 2%;
}

@media only screen and (min-width: 768px) {
	.grid-sizer, .grid-item  { width: 32%; }
	.grid-item--width2 { width: 66%; }
}



.panel {
	/*margin: 0;*/
}

.panel-title {
	font-style: italic;
	color: #000;
}

.basics > #name {
	font-size: 1.4em;
	font-style: italic;
}

.skills > * > #name {
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}



div > span {
	font-style: normal;
	//font-size: 1em;
	padding-left: 1em;
	display: inline-block;
}

.label {
	font-size: 0.9em;
	margin-left: 1em;
	margin-top: 8px;
	text-align: justify;
	display: inline-block;
}


.languages > div.panel-body   {
	display: inline-block;
}


