
.container-fluid {
    text-align: center;
}

.panel {
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

p {
    margin: 0 0 1em;
    font-size: 1.1em;
    line-height: 1.2em;
}

p.meta {
    font-size: 1em;
    text-align: right;
    margin: auto;
    width: 90%;
}

blockquote > p {
    font-size: 0.9em;
    font-style: italic;
}

@media only screen and (max-width: 840px) {
	.panel {
        display: inline-block;
        width: 90%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
