
body {
	font-family:'Lato', 'Helvetica', 'Sans-Serif';
	width: 85%;
	margin: 0 auto;
	padding: 0px;
}

.container , .container-fluid {
	padding: 0px;
	padding-bottom: 0.8em;
}

@media only screen and (max-width: 1280px) {
	body { width: 95%; }
}

#nav {
    padding-top: 2em;
}
#nav > ul {
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    font-size: 1.2em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-style: normal;
}
#footer > ul {
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    font-size: 1.2em;
    padding: 0px;
    list-style: none;
    font-weight: normal;
    font-style: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #444;
}
nav a:hover, footer a:hover, #nav li.active a {
    color: #000;
}
h1 {
    font-size: 2em;
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    margin-bottom: 0.8em;
}
p {
    font-size: 1.4em;
    line-height: 1em;
}
p .meta {
    font-size: 1em;
    text-align: right;
}
blockquote {
    font-size: 0.8em;
    font-style: italic;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

@media only screen and (max-width: 860px) {

    footer ul li {
        margin-right: 12px;
    }
}

@media only screen and (max-width: 640px) {
    footer ul li {
        display: block;
        position: relative;
        width: 100%;
    }
}
