body {
    margin: 60px auto;
    width: 70%;
}
@media only screen and (max-width: 900px) {
    body {
        margin: 4em auto;
        width: 95%;
    }
}
nav ul, footer ul {
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    font-size: 1.2em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-style: normal;
}
footer ul {
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
    font-style: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #666;
}
nav a:hover, footer a:hover, #nav li.active a {
    color: #222;
}
h1 {
    font-size: 3em;
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
