.slow-spin {
	-webkit-transform-origin: 50% calc(50% - 1px);
	transform-origin: 50% calc(50% - 1px);
	-webkit-animation: fa-spin 5s infinite linear;
	animation: fa-spin 5s infinite linear;
}

body {
	font-family:'Lato', 'Helvetica', 'Sans-Serif';
	width: 85%;
	margin: 0 auto;
	padding: 0px;
}

.container  {
	padding: 0px;
	padding-bottom: 0.8em;
}


.navbar {
	margin-top: 1em;
	margin-bottom: 0.4em;
}
.navbar-brand, .navbar-nav>li>a {
	color: #555;
}
.navbar-nav>li.active>a {
	color: #337ab7;
	background-color: #eee;
}
.navbar-nav>li>a:hover {
	color: #222;
	background-color: #efefef;
}
.navbar-header {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: lightgrey;
}
#footer > ul {
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    font-size: 1.0em;
    padding: 0px;
    list-style: none;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
footer ul li {
	display: inline-block;
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 0.2em;
}
footer a:hover {
	text-decoration: none;
	color: #000;
}

h1 {
    font-size: 2em;
    font-family:'Lato', 'Helvetica', 'Sans-Serif';
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}


footer {
    border-top: 1px solid #d5d5d5;
}



.noJS {
	display: none;
}

@media only screen and (max-width: 1280px) {
	body { width: 95%; }
}
@media only screen and (max-width: 840px) {
	footer ul li {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
}
@media only screen and (max-width: 680px) {
	#footer > ul {
		text-align: left;
	}
	footer ul li {
		display: block;
		position: relative;
		width: 100%;
	}
}
@media print {
	#footer > ul {
		text-align: left !important;
	}
	footer ul li {
		display: block !important;
		position: relative !important;
		width: 100% !important;
	}
	a:after {
		font-size:0.8em;
	}
}
