.post {
  width: 90%;
  margin: auto;
  text-align: justify;
}

p {
    font-size: 1.1em;
    line-height: 1.1em;
}

p.meta {
    font-size: 1em;
    text-align: right;
}

blockquote > p {
    font-size: 0.9em;
    font-style: italic;
}

