.post {
  width: 90%;
  margin: auto;
  text-align: justify;
  border: solid thin lightgray;
  padding: 1.2em 2em 0;
  margin-top: 0.4em;
  border-radius: 0.8em;
}

p {
    margin: 0 0 1em;
    font-size: 1.1em;
    line-height: 1.2em;
}

p.meta {
    font-size: 1em;
    text-align: right;
    margin: auto;
    width: 90%;
}

blockquote > p {
    font-size: 1em;
    font-style: italic;
}

