.post {
  width: 90%;
  margin: auto;
  text-align: justify;
}

p {
    margin: 0 0 1em;
    font-size: 1.1em;
    line-height: 1.2em;
}

p.meta {
    font-size: 1em;
    text-align: right;
    margin: auto;
    width: 90%;
}

blockquote > p {
    font-size: 0.9em;
    font-style: italic;
}

