
#showButton {
	margin-bottom: 0.5em;
}
#json {
	font-size: 0.75em;
	tab-size: 4;
	display: none;
}

div {
	margin: 0;
}

div > span {
	font-style: normal;
	margin-left: 0em;
	display: inline-block;
}

h5 {
	font-style: italic;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

audio {
	width: 100%;
}

button {
	border:none;
}

figure {
	margin: -0.18em 0 0 0;
}

#country, #flag {
	display: inline-block;
	vertical-align: middle;
}
#flag img {
	width: 1.2em;
	height: 0.9em;
}

.label {
	font-size: 100%;
	font-weight: normal;
	margin-right: 0.2em;
}

.panel-body {
	padding: 0.4em;
	margin: 0;
}

.panel-body > * > * > * {
	display: block;
	margin: 0.2em 0.8em;
}


.panel-title {
	font-style: italic;
	font-size: 1.3em;
	color: #000;
}
