<footer id="footer">
  <ul>
    <!--<li><i class="fa fa-envelope-o fa-fw"></i>&nbsp;<a href="mailto:dorian.bayart+github@gmail.com">dorian.bayart<i class="fa fa-at fa-fw" aria-hidden="true"></i>gmail.com</a></li>-->
    <li><i class="fa fa-github fa-fw"></i>&nbsp;<a href="https://github.com/dbayart">@dbayart</a></li>
    <li><i class="fa fa-twitter fa-fw"></i>&nbsp;<a href="https://twitter.com/dorianbayart">@DorianBayart</a></li>
    <li><i class="fa fa-google-plus fa-fw"></i>&nbsp;<a href="https://plus.google.com/+DorianBayart">+DorianBayart</a></li>
    <li><i class="fa fa-linkedin fa-fw"></i>&nbsp;<a href="https://fr.linkedin.com/in/dorianbayart">DorianBayart</a></li>
  </ul>
</footer>
