<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">dbayart.github.io</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% assign current = page.url %}
        <li {% if current == '/' %}class='active'{% endif %}><a href="/index.html"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
        <!--<li {% if current == 'about' %}class='active'{% endif %}><a href="/about">&nbsp;About</a></li>-->
        <li {% if current == '/cv/' %}class='active'{% endif %}><a href="/cv"><i class="fa fa-file-text-o fa-fw"></i>&nbsp;CV</a></li>
        <li {% if current == '/blog/' %}class='active'{% endif %}><a href="/blog"><i class="fa fa-rss fa-fw"></i>&nbsp;Blog</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
