
<link rel="stylesheet" type="text/css" href="/css/social.css">

<div id="social">
  <ul>
    <li><a class="tumblr-share-button" href="https://www.tumblr.com/share"></a></li>
    <li><script async defer src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script type="IN/Share" data-counter="right"></script></li>
    <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="dorianbayart" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    <li><div class="g-plusone"></div></li>
  </ul>
</div>



<!-- Placez cette ballise après la dernière balise Bouton +1. -->
<script async defer src="https://apis.google.com/js/platform.js" type="text/javascript"></script>
<script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>
