<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://opensource.keycdn.com/fontawesome/4.5.0/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><i class="fa home fa-fw"></i><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
    		{{ content }}
    		
		</div><!-- /.container -->
		<footer>
    			<ul>
        			<li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:dorian.bayart+github@gmail.com">dorian.bayart@gmail.com</a></li>
        			<li><i class="fa github fa-fw"></i><a href="https://github.com/dbayart">@dbayart</a></li>
        			<li><i class="fa linkedin fa-fw"></i><a href="https://fr.linkedin.com/in/dorianbayart">linkedin.com/in/dorianbayart</a></li>
			</ul>
		</footer>
	</body>
</html>
