<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=icon href="/resources/GitHub-icon.png" sizes="any" type="image/png">
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
		
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}>&nbsp;<i class="fa fa-home fa-fw"></i>&nbsp;<a href="/index.html">Home</a></li>
			<!--<li {% if current[1] == 'about' %}class='current'{% endif %}>&nbsp;<a href="/about">&nbsp;About</a></li>-->
			<li {% if current[1] == 'cv' %}class='current'{% endif %}>&nbsp;<i class="fa fa-file-text-o fa-fw"></i>&nbsp;<a href="/cv">CV</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}>&nbsp;<i class="fa fa-rss fa-fw"></i>&nbsp;<a href="/blog">Blog</a></li>
		</ul>
		</nav>
		<div class="container">
		
{{ content }}
		
		</div><!-- /.container -->
		<footer id="footer">
			<ul>
				<li><i class="fa fa-envelope-o fa-fw"></i>&nbsp;<a href="mailto:dorian.bayart+github@gmail.com">dorian.bayart@gmail.com</a></li>
				<li><i class="fa fa-github fa-fw"></i>&nbsp;<a href="https://github.com/dbayart">@dbayart</a></li>
				<li><i class="fa fa-linkedin fa-fw"></i>&nbsp;<a href="https://fr.linkedin.com/in/dorianbayart">linkedin.com/in/dorianbayart</a></li>
			</ul>
		</footer>
		
		
		
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext">
		
<!-- Azalead tracking code --> 
<script src="//b2btagmgr.azalead.com/tag?az=aWRTdWJzY3JpYmVyPTE2OTMmaWRTaXRlPTE2ODQmb3JpZ2luPWRiYXlhcnQuZ2l0aHViLmlvLyZjdXN0b209bm9uZQ==" type="application/javascript"> </script> 
<!-- End Azalead tracking code -->
	</body>
</html>
