<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		
	</head>
	<body>
		<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><i class="fa fa-home fa-fw"></i>&nbsp;<a href="/index.html">Home</a></li>
			<li {% if current[1] == 'about' %}class='current'{% endif %}>&nbsp;<a href="/about">About</a></li>
			<li {% if current[1] == 'cv' %}class='current'{% endif %}>&nbsp;<a href="/cv">CV</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}>&nbsp;<a href="/blog">Blog</a></li>
		</ul>
		</nav>
		<div class="container">
		
{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><i class="fa fa-envelope-o fa-fw"></i>&nbsp;<a href="mailto:dorian.bayart+github@gmail.com">dorian.bayart@gmail.com</a></li>
				<li><i class="fa fa-github fa-fw"></i>&nbsp;<a href="https://github.com/dbayart">@dbayart</a></li>
				<li><i class="fa fa-linkedin fa-fw"></i>&nbsp;<a href="https://fr.linkedin.com/in/dorianbayart">linkedin.com/in/dorianbayart</a></li>
			</ul>
		</footer>
		
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext">
	</body>
</html>
