---
layout: default
---

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>

<h1><i class="fa fa-camera-retro fa-fw"></i>&nbsp;{{ page.title }}</h1>
<a href="https://www.flickr.com/photos/dorianbayart/collections/">See my galleries directly on Flickr&nbsp;<i class="fa fa-flickr fa-fw"></i></a>
<div class="noJS" style="display:none;">No Javascript !</div>


  {{ content }}


<noscript><style type="text/css">.noJS { display:block; }</style></noscript>
