---
layout: default
---

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>

<h1><i class="fa fa-tumblr fa-fw"></i>&nbsp;{{ page.title }}</h1>
<a id="tumblrLink" href="https://dorianbayart.tumblr.com/">See my posts directly on Tumblr&nbsp;<i class="fa fa-tumblr-square fa-fw"></i></a>
<div class="noJS" style="display:none;">No Javascript !</div>


  {{ content }}


<noscript><style type="text/css">.noJS { display:block; }</style></noscript>
